<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div class="container">
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a>Sass</a></li>
                    <li><a>About</a></li>
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>
</body>
</html>
