@model Test.Models.Pasta
@{
    ViewBag.Title = "IndexPasta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pasta</h2>
    <dt>
        @Html.DisplayNameFor(model => model.AuthorName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AuthorName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Text)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Text)
    </dd>

